.u-height-fullvh {
  min-height: 100vh;
}

.u-height-medvh {
  min-height: 77.8vh; //min-height: 87vh;
}

.u-min-700 {
  min-height: 700px;
}

.u-bg-white {
  background: #fff;
}

.u-form-control-pad {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.u-text-small{
  font-size: 14px;
}

.u-mw-100 {
  max-width: 100%;
}

.u-remove-link:hover {
  text-decoration: none
}