<section class="v-attorney-contact u-min-700 pt-4 mt-1 mb-5">

  <div class="container u-height-medvh d-flex flex-column justify-content-center">
    <div class="row justify-content-center mh-contact">
      <div class="col-12 col-md-5" class="pd-contact">

        <div class="text-center mb-5">
          <img src="./assets/images/victor-horizontal-logo.png" class="login-container__logo" />
        </div>
        <h4 class="text-center mb-5">Contact Us</h4>

        <div class="info-contact">
          <p><span>Telephone : 555-432-1111</span></p>
          <p><span>Email : WEAREVICTOR@victornnn.com</span></p>
        </div>
        <!-- <div style="font-size: 1.4rem;">
            <div class="col-12 col-md-12"><span>Telephone : 555-432-1111</span></div>
            <div class="col-12 col-md-12"><span>Email : WEAREVICTOR@victornnn.com</span></div>
          </div> -->

      </div>

    </div>
  </div>

</section>
