<section class="v-home">
  <app-header [linkList]="userTypes" (linkClick)="navigate($event)"></app-header>

  <div class="container-fluid p-0 m-0">
    <div class="row m-0 mt-3">
      <div class="col-12 col-sm-8 col-md-8 p-0 mx-auto" style="box-shadow: 10px 20px 30px #424141, -4px -2px 20px #797979;">
        <div style="padding:56.25% 0 0 0;position:relative;">
          <iframe id="vimeoLoginVideo" data-vimeo-muted="true" src="https://player.vimeo.com/video/138433283" style="position:absolute;top:0;left:0;width:100%;height:100%;"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <!-- <app-timer [counterMsg]="'Your session is going to expire'" [show]="showTimer" [counter]="10"></app-timer> -->
  </div>
</section>
<app-footer></app-footer>