<section class="v-attorney-forget_password u-min-700 pt-4 mt-1">
  <div class="container login-container u-height-medvh d-flex flex-column justify-content-center">

    <div class="row justify-content-center">

      <div class="col-12 col-md-4">
        <div class="text-center mb-5">
          <img src="./assets/images/victor-horizontal-logo.png" class="login-container__logo" />
        </div>
        <h4>Forgot Password?</h4>

        <p class="text-black-50 mb-5">Please enter your email address and we will send you a reset password email</p>

        <div *ngIf="showAlert" class="row justify-content-center">
          <div class="col-12 col-md-12">
            <div id="LoginAlert" class="fade show alert v-alert p-2" role="alert">
              <strong> {{message}} </strong>
              <!-- <span *ngIf="!loginStatus" (click)="showAlert = false" class="alert__icon pull-right">
                <i class="fa fa-close"></i>
              </span> -->
            </div>
          </div>
        </div>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
          <div class="row justify-content-center">
            <div class="col-12 col-md-12">
              <div class="textbox form-group d-flex flex-column">
                <label for="Email" class="form-label"> EMAIL ADDRESS </label>
                <input type="email" class="form-control u-form-control-pad" formControlName="Email" name="Email" id="Email" />

                <div class="form-feedback" *ngIf="forgotPasswordControls?.Email?.invalid && (forgotPasswordControls?.Email.dirty || forgotPasswordControls?.Email?.touched)">
                  <p class="mt-2 v-error" *ngIf="forgotPasswordControls?.Email?.errors?.required">EMAIL ADDRESS IS
                    REQUIRED</p>
                  <p class="mt-2 v-error" *ngIf="!forgotPasswordControls?.Email?.errors?.required && forgotPasswordControls?.Email?.errors?.email">THIS
                    IS NOT AN EMAIL
                    ADDRESS</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-12 text-center mt-2">
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-semi-circle w-50 p-2" [disabled]="!forgotPasswordForm.valid">Continue
                </button>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <a href="#" (click)="navigate($event)" class="text-center mt-5">
              BACK TO LOGIN
            </a>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>

<app-loader [showLoader]="showLoader"></app-loader>
