.auto-complete {
  &__input {
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 8px 10px;
  }

  &__dropdown {
    max-height: 200px;
    padding: .5rem 0;
    overflow-y: auto;
    position: absolute;
    z-index: 999;
    background: #fff;
    border: 1px solid #dedede;
    width: 100%;
    box-shadow: 2px 2px 1rem #c3c3c3;
  }

  &__dropdown-item {
      transition: all .2s;
      padding: .5rem;
      cursor: pointer;

      &:hover {
          background: $primary;
          color: #fff;
      }
  }
}
