.v-attorney-contact{
    .mh-contact{
    min-height: 60vh;
  }

  .pd-contact{
    // padding: 15px;
    padding: 15px 3rem;
    border: 1px solid grey;
    // box-shadow: 1px 1px 1px 2px #80808096;
  }

  .info-contact{
    font-size: 1.4rem;
  }
}
