<section class="v-claim-success">
  <app-header></app-header>
  <div class="container claimsuccess-container u-height-medvh d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 claimsuccess-container__main">
        <div class="row border-bottom p-1">
          <div class="col-12 col-md-12 mx-auto">
            <div class="row">
              <div class="col-3 col-md-3">
                <img class="mw-100" src="./assets/images/victor-logo-only.png" />
              </div>
              <div class="col-9 col-md-9 d-flex align-items-center claim_title">
                <h4>Victor Registration Confirmation</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center p-2 pt-4 pb-4">
          <div class="col-12 col-md-10 align-self-center d-flex justify-content-center mx-auto">
            <i aria-hidden="true" class="fa fa-info-circle fa-5x align-self-center d-inline-block text-primary"></i>
            <p class="pl-4 mt-3">Thank You for using Victor. All entries have been completed.</p>
          </div>
          <div class="col-12 col-md-12 mt-3 text-center">
            <button class="btn btn-primary" (click)="navigate()">Back To Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>