<section class="v-attorney_non-representation u-min-700 pt-4 mt-1 mb-5">

  <div class="container u-height-medvh d-flex flex-column justify-content-center">

    <div class="row justify-content-center">
      <div class="col-12 col-md-5">
        <h4 class="text-center mb-5">Non-Representation Form</h4>

        <form [formGroup]="nonRepresentationForm">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" formControlName="DoNotRepresent" class="custom-control-input" id="DoNotRepresent"
                    name="DoNotRepresent">
                  <label class="custom-control-label" for="DoNotRepresent">I DO NOT REPRESENT THIS PATIENT</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-12">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" formControlName="CurrentlyRepresents" class="custom-control-input" id="CurrentlyRepresents"
                    name="CurrentlyRepresents">
                  <label class="custom-control-label" for="CurrentlyRepresents">I KNOW WHO CURRENTLY REPRESENTS THIS
                    PATIENT AND IT IS</label>
                  <input class="form-control col-12 col-md-7 mt-2" formControlName="CurrentlyRepresentsText" type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-12">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" formControlName="WhoRepresents" class="custom-control-input" id="WhoRepresents"
                    name="WhoRepresents">
                  <label class="custom-control-label" for="WhoRepresents">I DO NOT KNOW WHO REPRESENTS THIS PATIENT</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-12 col-md-12 text-center mt-2">
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-semi-circle w-25 p-2">Save
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

<app-loader [showLoader]="showLoader"></app-loader>
